body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

button {
    background: #c728dd;
    border: none;
    padding: 10px 15px;
    border-radius: 8px;
    color: #fff;
    cursor: pointer;
}

button.time {
    margin: 10px 0;
}

button:disabled {
    opacity: 0.5;
    cursor: auto;
}

.box {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}