.top-heading {
    background-color: #1f1f46;
    padding: 10px;
    margin-top: 0;
    text-align: center;
    color: #fff;
}

.main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}